{% extends "layout.html.jinja" %}

{% block middle %}
    <div>
        <h2>Autor</h2>
        <p>
            <br><br>
            Mateusz Puto<br>
            <a href="https://github.com/MateuszPuto">https://github.com/MateuszPuto</a><br><br>

            Na podstawie materiału przedstawianego na zajęciach "Pracownia programowania 2" z mgr Katarzyną Wójcik.<br>
            <a href="https://github.com/katwojuek">https://github.com/katwojuek</a><br>

        </p>
    </div>
{% endblock middle %}
